:root {
  /* font */
  --main-font: "Montserrat", sans-serif;
  --font-size: 16px;
  --line-height: 16px;

  /* Text Colors */
  --text-black-color: #2b2a2a;
  --text-white-color: #ffffff;
  --text-first-accent-color: #2d8bb1;

  /* Background Color */
  --bg-black-color: #2b2a2a;
  --bg-white-color: #ffffff;
  --bg-first-accent-color: #2d8bb1;

  --transition-time: 250ms;
}
